.form-container-pwd{
  border-bottom: 1px solid #e0e0e0;
}
.reset-password{
  margin: 0 0 82px 0;
  padding: 0;
  .reset-pwd-form{
    margin-top: 56px;
  }
  .passNoPadding{
    padding-right: 0;
  }
  .title-reset{
    text-align: center;
    font-size: 25px;
    color: #404040;
    margin-bottom: 32px;
  }
}
/************** this applies from 600px onwards **********/
@media screen and (min-width: 640px) {
  .form-container-pwd{
    border-bottom: 0;
  }
/*  .menu{
    border: 0;
  }*/
  .reset-password{
    margin: 0 auto 230px auto;
    .reset-pwd-form{
      max-width: 450px;
      width: 450px;
      margin: 0 auto;
    }
    .title-reset{
      font-size: 36px;
      margin-top: 32px;
    }
  }
}
