/** Hide top nav */
// .mainMenu,
.mobileMenu {
  display: none;
}
nav{
  border-bottom: none;
}
.error_msg_block{
  background-color: rgba(246,63,51,0.06);
  .error{
    font-size: 13px;
    line-height: 1.38;
    text-align: left;
    color: #f63f33;
    max-width: 100% !important;
    margin-top: 0 !important;
    margin-bottom: 8px;
    &:last-child{
      margin-bottom: 0;
    }
  }
}
#email-msg{
  .popover{
    background-color: #f0f9fc;
    color: #009ece;
    box-shadow: none;
    line-height: 18px;
    top: -36px !important;
  }
}
#register_form{
  .upload-file-label{
    font-size: 15px;
    line-height: 17px;
    letter-spacing: normal;
    text-align: center;
    color: #6b6b6b;
    margin: 8px 0;
  }
}
.url-file-container{
  &.input-field{
    .error{
      position: absolute;
      bottom: -15px !important;
    }
  }
  .url-and-upload-fields{
    padding: 0;
    &.warning{
      cursor: inherit;
      font-size: 17px;
      color: #404040;
      padding: 24px 12px;
      margin-bottom: 8px !important;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      border: 1px solid #E32510 !important;
      .input-field{
        .fa-info-circle{
          right: -34px;
        }
      }
      .email-popover{
        .need-help-popover{
          .popover{
            left: 0 !important;
          }
        }
        .popover{
          left: 0px !important;
        }
      }
    }
  }
}

.input-field {
  max-width: 100% !important;
  margin: 0 auto 24px auto;
  .error {
    margin-top: 8px;
    bottom: inherit !important;
    max-width: 320px;
  }
  .fa-info-circle{
    cursor: pointer;
    position: absolute;
    right: -21px;
    top: 42px;
    &:before{
      color: #91989a;
      font-size: 17px;
    }
  }
  .dropzone {
    position: relative;
    background: white;
    border: 1.4px dashed #007398c7;
    border-image: none;
    margin-left: auto;
    min-height: 100px;
    margin-right: auto;
    &.file-img{
      .dz-preview {
        .dz-image{
          width: 26.2%;
           max-width: 26.2%;
          margin: 0 auto;
          border: solid 1px #e8e8e8;
          padding: 24px;
          img{
            width: 45px;
            height: auto;
            padding: 0;
          }
        }
      }
    }
    &.dz-max-files-reached{
      border: none;
      .dz-message{
        display: none;
      }
      .fa-info-circle{
        display: none;
      }
    }
    input[type=file] {
      font-size: 100px;
      position: absolute;
      left: 0;
      top: 0;
      opacity: 0;
    }

    .dz-default.dz-message {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      width: 100%;
      padding: 8% 12%;
      text-align: center;
      span{
        font-size: 17px;
        line-height: 26px;
        color: #404040;
        cursor: pointer;
        .browse-btn{
          color: #00749c;
        }
      }
    }
    .dz-preview{
      position: relative;
      text-align: center;
      .dz-details, .dz-success-mark, .dz-error-mark{
        display: none;
      }
      .dz-remove{
        font-size: 15px;
        line-height: 18.2px;
        color: #00749c;
        margin-top: 8px;
        display: block;
      }
      .dz-image{
        width: 35.2%;
        max-width: 35.2%;
        margin: 0 auto;
        border: solid 1px #e8e8e8;
        img{
          padding: 10px;
          width: 100%;
        }
      }
    }
  }
}

.width-form-register {
  max-width: 835px;
  margin: 0 auto;
  float: none;
}

input[type="text"] {
  font-size: 18px;
}


.register-form label {
  color: #000;
  font-size: 18px !important;
}

button.btn-continue {
  background-color: #00749c;
  color: #fff;
  width: 100%;
  padding: 0;
  height: 56px;
  margin-bottom: 0;
  border-color: transparent;
  margin-top: 3px;
  font-size: 23px;
  &:hover {
    background-color: #429BB9;
  }
  &:focus {
    outline: 0;
  }
}

.btn-goStep2 {
  text-align: center;
}

.instutution-bloc-btn {
  text-align: center;
}

.btn-new-institution, .btn-new-department {
  margin-top: 5px;
}
.register-account{
  // margin: 32px auto 80px auto;
  .register-form {
    .title-register {
      font-size: 23px;
      margin-bottom: 32px;
      line-height: 1.39;
      letter-spacing: normal;
      text-align: center;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      color: #404040;
    }
    .checlbox__label a:before {
      content: "";
    }
  }
}
.checkbox__item {
  position: relative;
  padding-left: 40px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  margin-bottom: 30px;
  padding-right: 0;
}

/* customize the chekcbox */

.checkbox__input {
  display: none;
  &:checked + .checlbox__label:after {
    opacity: 1;
  }
}

.register-account {
  .register-form {
    .checlbox__label {
      cursor: pointer;
      font-size: 14px !important;
      margin-left: 0;
      padding: 0;
      margin-bottom: 0;
      display: block;
      line-height: 18px;
      margin-right: 0;
      -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    }
  }
}
#step-1{
  #register_form{
    .last-check-box{
      margin-bottom: 40px;
      .error{
        position: absolute;
        left: 0;
        max-width: 100%;
      }
    }
  }
}
.email-popover{
  .need-help-popover{
    .popover{
      width: 100%;
      max-width: 100%;
      top: -72px !important;
      left: 0 !important;
    }
  }
  .popover{
    border-radius: 4px;
    box-shadow: 0 3px 12px 0 rgba(0, 0, 0, 0.16);
    width: 100%;
    max-width: 100%;
    left: -10px !important;
/*    top: -91px !important;*/
    float: right !important;
    .arrow{
      display: none;
    }
  }
}
.banner_register{
  position: relative;
  .bannerCover{
    position: relative;
    &:before{
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      content: "";
      background-image: url(../../img/banner_effect.png);
    }
    img{
      width: 100%;
      &.banner_img_mobile{
        display: none;
      }
    }
  }
  .content_banner {
    position: absolute;
    top: 20%;
    right: 7.5%;
    max-width: 429px;
    width: 100%;
    .bannerTitle{
      color: #404040;
      font-size: 34px;
      line-height: 45px;
    }
    .desc_banner{
      color: #737373;
      font-size: 22px;
      line-height: 31px;
    }
  }
  .content_banner_mobile {
        position: absolute;
        right: 0;
        bottom: 0;
        left: 0;
        margin: 0 auto;
        text-align: center; 
    .bannerTitle{
      color: #404040;
      text-align: center;
      font-size: 28px;
      line-height: 38px;
    }
    .desc_banner{
      color: #737373;
      font-size: 18px;
      line-height: 25px;
    }
  }
}
@media screen and (max-width: 1300px) {
  .register-account {
    margin: 70px auto 56px; 
  }
  .banner_register {
    .content_banner {
        top: 10%;
        max-width: 345px;
        .bannerTitle {
          font-size: 28px;
          line-height: 38px;
        }
        .desc_banner {
          font-size: 19px;
          line-height: 24px;
        }
    }
  }
}
@media screen and (max-width: 992px) {
  .banner_register {
    height: 430px;
    .bannerCover {
      height: 370px;
      &:before{
        background-image: none; 
      }
      img {
        &.banner_img_desktop{
          display: none; 
        }
        &.banner_img_mobile{
          display: block;
        }
      }
    }
    .content_banner {
      top: auto;
      right: 0;
      left: 0;
      margin: 0 auto;
      text-align: center;
      bottom: 16px;
    }
  }
}
@media screen and (max-width: 640px) {
  .banner_register{
    height: 300px;
    .bannerCover {
      height: auto;
    }
  }
  .register-account {
    margin: 32px auto 80px;
}
}
/************** this applies from 600px onwards **********/
@media screen and (min-width: 640px) {
  #email-msg{
    .popover{
      top: 20px !important;
    }
  }
  .register-account {
    margin: 100px auto 56px auto;
    width: 425px;
    max-width: 425px;
    .register-form {
      padding: 0;
      .title-register {
        font-size: 32px;
        margin-bottom: 63px;
      }
    }
  }
  .url-file-container{
    .url-and-upload-fields{
      padding: 0;
      &.warning {
        .input-field{
          .fa-info-circle{
            right: -21px;
          }
        }
        padding: 24px 24px 0 24px;
        .email-popover{
          .need-help-popover{
            .popover{
              left: 0 !important;
              top: -72px !important;
            }
          }
          .popover{
            left: 368px !important;
          }
        }
      }
    }
  }
  .email-popover{
    .need-help-popover{
      .popover{
        top: -51px !important;
      }
    }
    .popover{
      width: 352px;
      left: 398px !important;
    /*  top: -10px !important;*/
    }
  }
}

#step-1 {
  .checkbox__item a {
    color: #00749c;
    text-decoration: none;
    &:hover{
      text-decoration: underline;
    }
  }
}

#step-2.success-email {
  padding: 0 24px;
  img {
    width: 77px;
    height: 62px;
  }
  h2 {
    font-size: 23px;
    color: #404040;
    margin-top: 32px;
    margin-bottom: 0;
    line-height: 1.57;
  }
  p {
    margin-top: 16px;
    color: #6b6b6b;
    line-height: 1.6;
  }
  .btn-block {
    margin-top: 80px;
  }
}

button.loading > span {
  position: absolute;
  width: 160px;
  height: 160px;
  top: 10px;
  right: 10px;
  border-radius: 50%;
  border: 3px solid #ffffff;
  border-color: #FFFFFF transparent #FFFFFF transparent;
  -webkit-animation: lds-dual-ring 1s linear infinite;
  animation: lds-dual-ring 1s linear infinite;
  color: #FFFFFF;
  /* background-color: #000; */
}
#regRecaptcha{
  margin-top: 15px;
}
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {
  .email-popover{
    .popover{
      width: 100%;
      left: -11px !important;
      top: 0px !important;
      float: right !important;
    }
  }
  .url-file-container{
    .url-and-upload-fields{
      &.warning{
        .email-popover{
          .need-help-popover{
            .popover{
              left: 0 !important;
            }
          }
          .popover{
            left: -10px !important;
          }
        }
      }
    }
  }
}
