public/.DS_Store
.DS_Store
/.idea/
/vendor/
.project
config.php
/.vagrant
Vagrantfile
/provision
env
public/img/uploads/img-20151120-564f3e03412fb.jpg
public/img/uploads/img-20151120-564f4a63926ab.jpg
public/img/uploads/img-20151120-564f4a6c61964.jpg
public/img/uploads/img-20151120-564f72bf8e860.jpg
public/img/uploads/img-20151123-56532e3ec431d.jpg
public/img/uploads/img-20151123-56535975a2b36.jpg
public/img/uploads/img-20151123-565359894bb96.jpg
public/img/uploads/img-20151123-56535c20d59b1.jpg
public/img/uploads/img-20151123-5653605d9e53b.jpg
public/img/uploads/img-20151124-56549d5d6b03e.jpg
public/img/uploads/img-20151124-56549faa61e88.jpg
public/img/uploads/img-20151124-5654a1afd6874.jpg
public/.htaccess
controllers/privatearea/Test.php
public/local.php
/public/app_dev.php
.php_cs.cache
var/
cache/
builds/*
public/assets/gulp/node_modules
tests/_output/*
/reports
tests/_output/
public/assets/page/app/node_modules/
public/assets/page/app/build/
!public/assets/page/app/build/static/
public/assets/page/app/build/static/js/
!public/assets/page/app/build/static/js/main.js
/reports
.docker/mysql/data
.docker/mysql/dump.sql
readme.md
README.md
public/movie*.mp4
