.review-rating-book-modal{
  #feedback-step{
    .checlbox__label{
      font-size: 15px !important;
      line-height: 22px;
    }
   .contextual-txt{
     small{
       font-size: 13px;
       line-height: 18px;
       color: #707376;
       margin-bottom: 0;
       padding-left: 40px;
       display: block;
     }
   }
  }
}
#share-book-modal{
  &.review-rating-book-modal{
    .modal-dialog{
      .modal-container{
        padding: 24px;
      }
    }
  }
}
.review-rating-book-modal,
.course-details-modal {
  border-radius: 0;
  z-index: 215;
  display: none;
  .modal-dialog {
    width: 100%;
    height: 100%;
    .modal-container{
      min-height: 100%;
      padding: 24px;
    }
  }
  input {
    font-size: 17px;
    color: #404040;
    padding: 16px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    height: 56px;
    border: 1px solid #e5e5e5 !important;
    &.warning {
      border-color: #E32510 !important;
    }
    margin-bottom: 0;
    &::placeholder {
      font-size: 17px;
      color: #c3c3c3 !important;
      font-weight: 400;
    }
    &:focus:not(.warning) {
      border: 1px solid #00749c !important;
      background-color: #fff;
    }
  }
  #positive-step-2 {
    .radio-box {
      margin-bottom: 0;
    }
  }
  .course-details-block{
    border: solid 1px #d6d6d6;
    padding: 16px;
    &.warning{
      border: solid 1px #E32510;
    }
    .title-institution {
      display: inline-block;
      .institution-name {
        font-size: 15px;
        color: #6b6b6b;
        margin-bottom: 0;
      }
      .edit-icon {
        a {
          float: right;
        }
      }
    }
    .details {
      display: inline-block;
      .label {
        font-size: 17px;
        color: #404040;
        line-height: 17px;
        margin-bottom: 2px;
      }
      .desc {
        color: #9e9e9e;
        font-size: 17px;
        line-height: 17px;
        min-height: 17px;
      }
    }
  }
  .feedback-txt {
    textarea {
      box-shadow: none;
      border: solid 1px #d8d8d8;
      padding: 16px;
      background-color: transparent;
      height: 104px;
      font-size: 17px;
      &::placeholder {
        font-size: 17px;
        color: #b5b5b5;
      }
      &#feedBack_previous{
        background-color: #f9f9f9;
        color: #6b6b6b;
      }
    }
    .contextual-txt{
      font-size: 11px;
      line-height: 36px;
      color: #404040;
    }
  }
  .error {
    background: transparent;
    color: red;
    font-style: inherit;
    padding: 0;
    margin-bottom: 0;
    margin-top: 8px;
    font-size: 13px;
  }
  #feedback-step {
    .contextual-txt {
      &.feed-back {
        font-size: 11px;
        margin-bottom: 0;
        .fa-info-circle {
          &:before {
            font-size: 11px;
            opacity: 0.36;
          }
        }
      }
    }
  }
  .close-course-details-modal, .close {
    background: url(../../img/button_close.jpg) no-repeat scroll;
    cursor: pointer;
    height: 24px;
    width: 24px;
    position: absolute;
    top: 24px;
    right: 24px;
    float: right;
    opacity: 1;
    z-index: 10;
  }
  .renewal-display{
    display: none;
  }
  &.renewal-modal{
    .adoption-display{
      display: none;
    }
    .renewal-display:not(.hidden){
      display: block;
    }
  }
}

.modal-step {
  position: relative;
  &:not(.active) {
    display: none;
  }
  .btn-blue {
    margin-top: 0;
  }
  .step-controller {
    margin-top: 10px;
    .close-course-details-modal, .close {
      background: url(../../img/button_close.jpg) no-repeat scroll;
      cursor: pointer;
      height: 24px;
      width: 24px;
      position: absolute;
      top: 24px;
      right: 24px;
      float: right;
      opacity: 1;
    }
    .modal-step {
      position: relative;
      &:not(.active) {
        display: none;
      }
      .btn-blue {
        margin-top: 0;
      }
      .step-controller {
        margin-top: 10px;
      }
    }
  }
}

.step-indicator {
  line-height: 2px;
  span {
    width: 18px;
    height: 2px;
    display: inline-block;
    opacity: 0.26;
    background-color: #ff893d;
    margin-right: 4px;
    &.filled {
      opacity: 1;
    }
  }
}

.course-details-block {
  padding: 16px;
  margin-bottom: 16px;
  border: solid 1px #d6d6d6;
  h3 {
    padding-left: 0;
  }

  .adoption-inst-selector {
    display: none;
    float: right;
  }
}

/*** review stars style ******/
.average_reviews{
  margin-top: 20px;
}
.review-container{
  width:100%;
  margin-bottom: 10px;
  &.popup_reviews{
    .star{
      background-color:transparent;
      border:0;
      outline:0;
      padding: 0;
      line-height: 24px;
      &:hover{
        background-color: transparent;
      }
      .stararea{
        position:relative;
        color:#d3d3d3;
        font-size:30px;
        cursor:pointer;
        text-align:center;
        .star_icon{
          &:before{
            width:30px;
            height:29px;
            content:'';
            background-image: url("../../img/review_stars/star.png");
            display:inline-block;
            position: relative;
          }
        }
      }
      &.active{
        .stararea{
          .star_icon{
            &:before{
              width:30px;
              height:29px;
              content:'';
              background-image: url("../../img/review_stars/star_full.png");
              display:inline-block;
              color:#f1c40f;
              position: relative;
            }
          }
        }
      }
      &:hover .stararea{
        color:#d3d3d3;
      }

    }
  }
}

.btn-transparent.goStep {
  font-size: 25px;
  margin-top: 0;
  line-height: 36px;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

@media (-webkit-min-device-pixel-ratio: 2) {
  .review-rating-book-modal .close, .review-rating-book-modal .close-course-details-modal {
    background: url(../../img/button_close@2x.png) no-repeat scroll;
    background-size: contain;
  }
}

@media (-webkit-min-device-pixel-ratio: 3) {
  .review-rating-book-modal .close, .review-rating-book-modal .close-course-details-modal {
    background: url(../../img/button_close@3x.png) no-repeat scroll;
    background-size: contain;
  }
}
.popup-title{
  margin: 24px 0 8px 0;
  &.sub-title{
    margin-bottom: 24px;
  }
}
#feedback-step{
  &.feedback-modal{
    .popup_header{
      .detailDescription{
        p{
          .book_title{
            font-size: 21px;
            line-height: 1.2;
          }
        }
      }
    }
  }
}
.finish-msg {
  font-size: 18px;
  margin-top: 16px;
  &.rating-books{
    font-size: 25px;
    display: block;
    text-align: center;
    margin-top: 32px;
    line-height: 36px;
  }
  a {
    color: #00749c;
    text-decoration: none;
    &:hover,
    &:active{
      outline: 0;
      color: #429BB9 !important;
      background-color: transparent;
    }
  }
}
#finish-step {
  margin-top: 45px;
}
/************** this applies from 600px onwards **********/
@media screen and (min-width: 640px) {
  .review-rating-book-modal,
  .review-courses-info-modal,
  .course-details-modal {
    height: auto;
    form {
      display: block;
    }
    .modal-dialog {
      max-width: 600px;
      min-height: 480px;
      margin: 100px auto;
      height: auto;
    }
    z-index: 215;
    border-radius: 4px;
    box-shadow: 0 4px 8px 0 rgba(9, 30, 66, 0.16);
  }
  .course-details-modal {
    padding-left: 15px;
  }
  body.modal-open {
    position: relative;
  }
  .modal-container {
    overflow: auto;
    overflow-x: hidden;
    margin-bottom: 24px;
    border-radius: 4px;
  }
  .modal-step {
    width: 100%;
    .modal-step-content {
      min-height: 450px;
      .btn-new-institution {
        margin-top: 10px !important;
      }
    }
  }

  .select2.select2-container:focus {
    outline: 0;
  }
  #institution-check-container {
    max-height: 300px;
  }
  .label-title {
    font-size: 18px !important;
    color: #000;
  }
  input#startDate,
  input#endDate {
    width: 222px;
  }
  .input-step {
    &.end-date-bloc,
    &.start-date-bloc {
      .error {
        width: 222px;
      }
    }
    &.date {
      .end-date {
        width: 222px !important;
      }
    }
  }

  .current-book {
    font-size: 18px !important;
    margin-bottom: 25px;
    margin-top: 10px;
  }
  .input-step input {
    border-color: #e0e0e0;
    padding: 25px 10px;
    margin-bottom: 0;
  }

  .input-step input {
    &.warning:focus {
      border-color: #E32510 !important;
    }
    &:focus {
      transition: none;
      border-bottom-color: #e0e0e0 !important;
    }
  }

  .finish-msg {
    font-size: 18px;
    margin-top: 16px;
    &.rating-books{
      font-size: 25px;
      display: block;
      text-align: center;
      margin-top: 32px;
      line-height: 36px;
      &:hover,
      &:active{
        outline: 0;
        color: #429BB9 !important;
        background-color: transparent;
      }
    }
    a {
      color: #00749c;
      text-decoration: none;
    }
  }

  .scroll1 {
    &::-webkit-scrollbar {
      width: 5px;
    }
    &::-webkit-scrollbar-track {
      background: #ddd;
    }
    &::-webkit-scrollbar-thumb {
      background: #666;
    }
  }
  .checkbox__input {
    display: none;
    &:checked + .checlbox__label:after {
      opacity: 1;
    }
  }
  body.modal-open {
    &.scrollable {
      overflow-y: auto;
    }
  }
  .checkbox__item {
    position: relative;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  .checkbox__item:last-child {
    float: left !important;
  }

  #checkOneInstitutionMsg {
    color: red;
  }
  .popup-title{
    margin: 0 0 24px 0;
    &.sub-title{
      margin-bottom: 24px;
    }
  }
  #feedback-step{
    &.feedback-modal{
      .popup_header{
        .detailDescription{
          p{
            .book_title{
              font-size: 25px;
              line-height: 1.4;
            }
          }
        }
      }
    }
  }
}

.course-details-modal {
  z-index: 300;
}
#other_book_block,#other_reason_block{
  display: none;
  margin-bottom: 20px;
}
.review-courses-info-modal{
  .edit-course-btn{
    display: none;
  }
}
.review-courses-info-modal{

  #confirmed-title,#not-confirmed-title{
    color: var(--orange-color);
    line-height: 1.89;
    font-size: 19px;
    margin-top: 8px;
    margin-bottom: 10px;
  }
  #book-name{
    font-size: 19px;
    color: #404040;
    line-height: 1.89;
    margin-bottom: 8px;
  }
  #book-authors{
    color: #6b6b6b;
    font-size: 15px;
    margin-bottom: 20px;
    line-height: 2.4;
  }
}



.course-info-block{
  margin-bottom: 16px;
}
