{% extends 'mail/base.html.twig' %}

{% block body %}
    <div>{{ 'user.reset_password.email.sucess.body'|trans|replace({'__site__': url('main'),'__username__': user.fullName, '__title__':user.title, '__lastname__':user.lastName })|raw }} </div>
    <div>{{ 'user.reset_password.email.sucess.bottom'|trans|raw }}</div>
{% endblock body %}
