.scroll1::-webkit-scrollbar {
  width: 6px;
  border-radius: 40px;
  height: 60px;
}
.scroll1::-webkit-scrollbar-thumb {
  background: #eaeaea;
  border-radius: 40px;
}
.scroll1::-webkit-scrollbar-track {
  background: #fff;
}
.nav {
  left:50%;
  margin-left:-150px;
  top:50px;
  position:absolute;
}
.nav>li>a:hover, .nav>li>a:focus, .nav .open>a, .nav .open>a:hover, .nav .open>a:focus {
  background:#fff;
}
.header.header_french .logo-block{
  width: 225px;
}
.row.header.header_french .log-in-group.loged-in{
  width: calc(100% - 225px);
}
.header.header_french .log-in-group{
  width: calc(100% - 225px);
}
.header{
  -webkit-transition: all 0.5s ease;
  -moz-transition: position 5s;
  -ms-transition: position 5s;
  -o-transition: position 5s;
  transition: all 0.5s ease;
  &.fixed{
    position: fixed;
    top: 0;
    left: 0;
    animation: smoothScroll 0.5s forwards;
    background: #fff;
    margin: 0 !important;
    padding-top: 12px;
    padding-bottom: 12px;
    border-bottom: solid 1px #e0e0e0;
  }
  @keyframes smoothScroll {
    0% {
      transform: translateY(-55px);
    }
    100% {
      transform: translateY(0px);
    }
  }
}
.language-links{
  margin-left: 20px;
  .dropdown {
    display: table;
    cursor: pointer;
    span {
      background: url(../img/languages/icon_language.png) center center no-repeat;
      width: 24px;
      height: 24px;
      margin-right: 5px;
      display: table-cell;
    }
    .dropdown-toggle{
      display: table-cell;
      vertical-align: middle;
      padding-left: 5px;
      font-size: 14px;
      line-height: 28px;
    }
  }
  .dropdown-menu{
    left: -59px;
    float: none;
    box-shadow: 0px -3px 10px 2px rgba(0,0,0,.16)!important;
    border: 0;
    min-width: 130px;
    border-radius: 4px;
    width: 130px;
    position: absolute;
    height: inherit;
    top: 40px;
    padding: 12px 0;
    &:before{
      content: "";
      border-bottom: 10px solid #fff;
      border-right: 10px solid transparent;
      border-left: 10px solid transparent;
      position: absolute;
      top: -10px;
      left: 60px;
      z-index: 10;
      display: block;
    }
    // &:after{
    //   content: "";
    //   filter: drop-shadow(0 0 34px #333);
    //   border-bottom: 12px solid #fff;
    //   border-right: 12px solid transparent;
    //   border-left: 12px solid transparent;
    //   position: absolute;
    //   top: -12px;
    //   left: 60px;
    //   z-index: 9;
    //   display: block;
    // }
    li{
      font-size: 14px;
      line-height: 19.6px;
      color: #212121;
      a{
        padding: 6px 8px 6px 16px !important;
        font-size: 14px !important;
      }
    }
  }
}
/* readinglist link **********/
.reading-list-link{
  display: none;
  &.mobile_reading_list{
    display: block;
    position: relative;
    right: 0;
  }
  &:hover{
    cursor: pointer;
    text-decoration: underline;
  }
}
.explore_title{
  font-weight: bold;
  font-size: 17px;
  padding: 16px 24px;
}

/* searchbar*/
.search{
  display: inline-block;
  right: 24px;
  position: absolute;
  top: 8px;
  &:hover{
    cursor: pointer;
  }
  &:before{
    content: "";
    background: transparent url('../img/icon_search_white/icon_search_mobile.png') no-repeat left center;
    background-size: contain;
    width: 21px;
    height: 21px;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 50%;
    transform: translate(-20%, 4%);
    display: block;
  }
}
.search-mobile{
  display: block;
  #search-input-mobile{
    width: 89%;
    border: none !important;
    font-size: 18px;
    font-weight: 400;
    &::placeholder{
      color: #c3c3c3;
      font-size: 18px;
    }
  }
}

/* dropdown profile style */
.dropdown{
  &.profile{
    .dropdown-menu {
      left: -222px;
      float: none;
      box-shadow: 0 3px 12px 0 rgba(0, 0, 0, 0.16) !important;
      border: 0;
      min-width: 267px;
      border-radius: 4px;
      box-shadow: none;
      width: 267px;
      position: absolute;
      height: inherit;
      top: 52px;
      &::after {
        content: "";
        filter: drop-shadow(0 0 20px #333);
        border-bottom: 12px solid #fff;
        border-right: 12px solid transparent;
        border-left: 12px solid transparent;
        position: absolute;
        top: -12px;
        right: 14px;
        z-index: 9;
        display: block;
      }
      &::before {
        content: "";
        border-bottom: 10px solid #fff;
        border-right: 10px solid transparent;
        border-left: 10px solid transparent;
        position: absolute;
        top: -10px;
        right: 16px;
        z-index: 10;
        display: block;
      }
      .profile-content{
        .userName{
          color: #e6782b;
          font-size: 17px;
          line-height: 24px;
          padding: 10px 16px;
          .user-mail{
            display: block;
            color: #969696;
            font-size: 13px;
          }
        }
        li{
          &:first-child{
            &:hover{
              background-color: transparent;
            }
          }
          &:hover{
            background-color: #f4fafc;
          }
          &:first-child{
            margin-top: 0;
          }
          a{
            font-size: 17px;
            color: #000;
            width: 100%;
            display: block;
            padding: 10px 16px;
          }
        }
      }
    }
  }
}
/* end dropdown profile style */
.searchBarSection{
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  background: #fff;
  z-index: 9999;
  .container-search{
    padding: 0;
    .search-container{
      max-width: 100%;
      margin: 0 auto;
    }
    .close-desktop{
      display: none;
    }
    .close{
      background: url(../img/button_close.png) no-repeat scroll;
      cursor: pointer;
      height: 24px;
      width: 24px;
      position: absolute;
      top: 24px;
      right: 24px;
      float: right;
      opacity: 1;
      z-index: 100;
      display: none;
    }
  }
  .searchInput{
    border-bottom: 0;
    &.focus-input{
      border-bottom: 0;
    }
    .back{
      display: inline-block;
      background:url("../img/arrow_back_search/back.png");
      width: 16px;
      height: 25px;
      display: inline-block;
      position: absolute;
      background-repeat: no-repeat;
      left: 16px;
      top: 25%;
    }
    input{
      height: 56px;
      padding: 17px 0 17px 40px;
      background-color: #f2f2f2;
      font-size: 17px;
      display: block;
      width: 100%;
      border: none;
      &::placeholder{
        color: #c3c3c3;
        font-size: 17px;
      }
    }
    .searchIcon {
      width: 56px;
      height: 56px;
      right: 0;
      position: absolute;
      top: 0;
      &:before{
        content: "";
        background: transparent url(../img/icon_search_white/icon_search_mobile.png) no-repeat left center;
        background-size: contain;
        width: 21px;
        height: 21px;
        position: absolute;
        margin-left: auto;
        margin-right: auto;
        left: 32%;
        transform: inherit;
        top: 30%;
      }
      &:focus,
      &:hover,
      &:active{
        outline: 0;
        background-color: #007398;
        border-color: #007398;
      }
    }
  }
  .searchFilter{
    display: none;
    margin-top: 40px;
    padding: 0 16px;
    .search-label{
      color: #000000;
      font-size: 17px;
      line-height: 36px;
      margin-bottom: 24px;
      display: block;
    }
    .checlbox__label{
      font-size: 19px !important;
      margin-right: 0;
    }
    input[type=radio]:checked + label:before {
      border: 3px solid #00749c;
    }
    .radio-box {
      margin-bottom: 32px;
      position: relative;
      .checlbox__label {
        &:before {
          border-radius: 50%;
          border: 3px solid #d8d8d8;
          width: 24px;
          height: 24px;
        }
        &:after {
          border-radius: 50%;
          width: 12px;
          height: 12px;
          background-color: #00749c;
        }
      }
    }
    .checkbox__item.label-down {
      margin-bottom: 10px;
    }
  }
}
// search bar
.result_search_book {
  position: absolute;
  z-index: 999;
  text-align: left;
  background: #fff;
  margin-top: 0;
  box-shadow: 0 15px 9px rgba(0,0,0,.16)!important;
  li {
    img {
      width: 35px;
      margin-right: 10px;
    }
    a {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      flex-wrap: nowrap;
      flex-direction: row;
      align-content: center;
      padding: 10px;
      color: #000;
    }
    &:hover {
      background: #e6782b3d;
    }
  }
}

@media (-webkit-min-device-pixel-ratio: 2){
  .searchBarSection .searchInput .searchIcon:before{
    background: url(../img/icon_search_white/icon_search@2x.png) no-repeat scroll;
    background-size: contain;
    background-color: #00749c;
  }
  .search{
    &:before{
      background: url(../img/../img/icon_search_white/icon_search_mobile@2x.png) no-repeat center center;
      background-size: contain;
    }
  }
  .searchBarSection .searchInput .back{
    background: url(../img/arrow_back_search/back@2x.png) no-repeat center center;
    background-size: contain;
  }
  .language-links .dropdown span{
    background: url("../img/languages/icon_language@2x.png") no-repeat center center;
    background-size: contain;
  }
}

@media (-webkit-min-device-pixel-ratio: 3){
  .searchBarSection .searchInput .searchIcon:before {
    background: url(../img/icon_search_white/icon_search@3x.png) no-repeat scroll;
    background-size: contain;
    background-color: #00749c;
  }
  .searchBarSection .searchInput .back{
    background: url(../img/arrow_back_search/back@3x.png) no-repeat center center;
    background-size: contain;
  }
  .language-links .dropdown span{
    background: url("../img/languages/icon_language@3x.png") no-repeat center center;
    background-size: contain;
  }
}
@media (-webkit-min-device-pixel-ratio: 2){
  .searchBarSection .container-search .close {
    background: url(../img/button_close@2x.png) no-repeat scroll;
    background-size: contain;
  }
}
@media (-webkit-min-device-pixel-ratio: 3){
  .searchBarSection .container-search .close {
    background: url(../img/button_close@3x.png) no-repeat scroll;
    background-size: contain;
  }
}
/*end searchbar */
.loged-in {
  /*  .search_menu_bar{
         transform: translate(-50% , 0);
    }*/
  .search {
    right: 110px;
  }
}
/*
.search_menu_bar{
display: inline-block;
position: absolute;
top: 0;
right: 0;
transform: inherit;
}*/



.dropdown {
  display: inline-block;
  &.open{
    .fa-bell{
      &:before{
        font-size: 30px;
        color: #0075a0;
        font-weight: 600;
      }
    }
  }
  .fa-bell{
    &:before{
      font-size: 30px;
      color: #404040;
      font-weight: 100;
    }
  }
}
.dropdown-menu>li>a {
  color:#428bca;
}

.dropdown-notif{
  #notifications-count{
    position: absolute;
    top: -5px;
    right: -9px;
    height: 20px;
    width: 20px;
    overflow: hidden;
    background: #f63f33;
    color: #FFF;
    text-align: center;
    border-radius: 100%;
    font-size: 15px;
  }
  .dropdown-menu{
    position: fixed;
    top: 0px;
    width: 100%;
    height: 100%;
    border: 0;
    box-shadow: none;
    .dropdown-header{
      padding: 16px 16px;
      border-bottom: solid 1px #e0e0e0;
      .title-notif{
        color: #000;
        line-height: 36px;
        text-transform: capitalize;
        text-align: center;
        font-size: 25px;
        display: block;
      }
      .see-all{
        float: right;
        color: #0075a0;
        font-size: 16px;
        line-height: 36px;
        text-transform: capitalize;
        display: none;
      }
    }
    .notif-content{
      overflow: auto;
      max-height: 100%;
      overflow-x: hidden;
      li{
        &:hover,
        &:focus,
        &:active{
          background-color: #f4fafc;
        }
      }
      .empty-notif{
        margin-top: 114px;
        text-align: center;
        .descp-notif{
          font-size: 18px;
          color: #969696;
          line-height: 36px;
          margin-top: 32px;
          text-transform: lowercase;
          &::first-letter{
            text-transform: capitalize;
          }
          &.no-capitalize{
            text-transform: none !important;
          }
        }
      }
    }
    li{
      &:first-child{
        a{
          padding-top: 20px;
        }
      }
      a{
        white-space: inherit;
        padding: 8px 16px 0 16px;
        font-size: 15px;
        color: #737373;
        display: table;
        &.more_details{
          color: #007398;
          display: inline;
          padding: 0 16px;
        }
        .notif-img{
          margin-right: 16px;
          width: 44px;
          height: 55px;
          min-width: 44px;
          display: table-cell;
        }
        .descp-notif{
          display: table-cell;
          vertical-align: top;
          line-height: 22px;
          .book-title{
            color: #0075a0;
          }
          .status{
            color: #404040;
          }
          .date-notif{
            color: #969696;
            font-size: 13px;
            display: block;
            margin-top: 6px;
          }
        }
        &:hover,
        &:focus{
          background-color: #f4fafc;
          outline: 0;
          text-decoration: none;
        }
      }
      &:first-child{
        &:hover{
          background-color: transparent;
        }
      }
      &:hover,
      &:focus{
        background-color: #f4fafc;
        outline: 0;
        text-decoration: none;
      }
    }
    &::after {
      display: none;
    }
    &::before {
      display: none;
    }
  }
}
/*****************************dropdown style*********/
.logo {
  width: 140px;
  max-width: 140px;
  height: 18px;
  background: url(../img/logo_mobile.png) no-repeat center center;
  background-size: contain;
  cursor: pointer;
  /*  margin-top: 5px;*/
  display: inline-block;
  &.french-site{
    background: url(../img/wordmark-french/ic_wordmark_fr_mobile.png) no-repeat center center;
    width: 153px;
    max-width: 153px;
    background-size: contain;
  }
  &.us-site{
    background: url(../img/us-logo/logo_educate-mobile.png) no-repeat center center;
    width: 88px;
    height: 20px;
  }
}
@media (-webkit-min-device-pixel-ratio: 2) {
  .logo {
    background: url(../img/logo_mobile@2x.png) no-repeat center center;
    background-size: contain;
    &.french-site{
      background: url(../img/wordmark-french/ic_wordmark_fr_mobile@2x.png) no-repeat center center;
      background-size: contain;
    }
    &.us-site{
      background: url(../img/us-logo/logo_educate-mobile@2x.png) no-repeat center center;
      background-size: contain;
    }
  }
}
@media (-webkit-min-device-pixel-ratio: 3) {
  .logo {
    background: url(../img/logo_mobile@3x.png) no-repeat center center;
    background-size: contain;
    &.french-site{
      background: url(../img/wordmark-french/ic_wordmark_fr_mobile@3x.png) no-repeat center center;
      background-size: contain;
    }
    &.us-site{
      background: url(../img/us-logo/logo_educate-mobile@3x.png) no-repeat center center;
      background-size: contain;
    }
  }
}
.header{
  /*  border-bottom: solid 1px #e0e0e0;*/
  margin: 22px 0;
  .menu-mobile-block{
    margin-top: 7px;
    margin-left: 0;
  }
  .logo-block{
    margin-top: 8px;
  }
  .menu-mobile-block{
    margin-top: 7px;
    margin-left: 0px;
  }
  .log-in-group {
    display: block;
    &.loged-in{
      display: block;
      .dropdown-notif{
        display: inline-block;
        // right: 60px;
        // position: absolute;
        top: -9px;
      }
      .profile{
        display: inline-block;
        .tooltip-wrapper-initial{
          width: 37px;
          height: 37px;
          display: block;
          margin-left: -8px;
          margin-top: -5px;
          line-height: 37px;
        }
        a.profile-nav {
          background-color: #661cca;
          color: white;
          border-radius: 50%;
          font-size: 20px;
          font-size: 18px;
          width: 37px;
          height: 37px;
          right: 25px;
          text-align: center;
          float: right;
          padding: 8px;
          text-decoration: none;
          margin: 0 0px 0 10px;
          &:hover, &:focus, &:active {
            color: white !important;
          }
        }
      }
    }
  }
  .burguerMenu{
    display: none;
    position: relative;
    cursor: pointer;
    width: 26px;
    height: 21px;
    margin-right: 10px;
    img{
      width: 26px;
      height: 21px;
      position: absolute;
      &.menu-on{
        display: none;
        width: 21px;
      }
    }
  }
  .mobileMenu{
    display: none;
    position: fixed;
    top: 0px;
    left: 0;
    margin: 0;
    z-index: 1000;
    height: 100%;
    width: 100%;
    background-color: #fff;
    padding: 0;
    .mainMenu{
      display: none;
      ul{
        .menuItem{
          display: block;
          a{
            font-size: 18px;
            color: #404040;
            padding: 16px 24px;
            display: block;
            cursor: pointer;
            text-decoration: none;
            &.reading-list-link{
              border-bottom: solid 1px #e0e0e0;
            }
          }
          &:hover{
            background: #f4fafc;
          }
        }
      }
    }
    &.open-menu{
      display: block;
      +div>.logoLink{
        z-index: 1001;
      }
      .mainMenu{
        display: block;
      }
      .burguerMenu{
        margin-top: 10px;
        img{
          &.menu-on{
            display: block;
          }
          &.menu-off{
            display: none;
          }
        }
      }
    }
    #navigationpro-mobile-top{
      padding: 0;
      border-top: solid 1px #e0e0e0;
      #navigationpro-top{
        margin: 0;
      }
      .login-burger{
        padding: 16px;
        border-bottom: solid 1px #e0e0e0;
        /*border-top: solid 1px #e0e0e0;*/
        margin: 0;
        .signIn {
          a {
            font-size: 17px;
            color: #0075a0;
            padding: 9px 0;
            text-transform: capitalize;
            text-decoration: none;
            display: block;
            text-align: center;
            &:hover {
              text-decoration: underline;
            }
          }
        }
        .register {
          border-bottom: none;
          margin-bottom: 15px;
          a {
            background-color: #0075a0;
            font-size: 16px;
            color: #fff;
            padding: 11px 0;
            text-decoration: none;
            text-align: center;
            &:hover {
              background-color: #429BB9;

            }
          }
        }
      }
      .menuItem{
        display: flow-root;
        &.dropdown{
          border-bottom: 0;
        }
        &.explore_item{
          border-bottom: 0;
          cursor: none;
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-pack: justify;
          -ms-flex-pack: justify;
          justify-content: space-between;
          &:hover{
            color: #404040;
          }
          &:focus{
            outline: 0;
          }
          .language-links{
            padding-top: 4px;
            margin-left: 0;
            margin-right: 15px;
          }
        }
        &:hover{
          background-color: transparent;
        }
        &.dropdown{
          .main-menu-item{
            font-size: 18px;
            line-height: 36px;
            color: #404040;
            padding: 16px;
            position: relative;
            /*  &:after{
                 content: "";
                display: block;
                height: 1px;
                right: 28px;
                margin: 0;
                width: 10px;
                height: 10px;
                position: absolute;
                top: 38%;
                border: 0;
                border-top: 2px solid #404040;
                border-left: 2px solid #404040;
                -webkit-transform: rotate(225deg);
                transform: rotate(225deg);
              }*/
            a{
              padding: 0;
            }
          }
        }
        &.open{
          .main-menu-item{
            /*      &:after{
                    content: "";
                    display: block;
                    height: 1px;
                    right: 28px;
                    margin: 0;
                    width: 10px;
                    height: 10px;
                    position: absolute;
                    top: 45%;
                    border: 0;
                    border-top: 2px solid #404040;
                    border-left: 2px solid #404040;
                    -webkit-transform: rotate(45deg);
                    transform: rotate(45deg);
                  }*/
          }
          .top-sub-menu{
            position: relative;
            height: auto;
            box-shadow: none;
            display: block;
            width: 100%;
            border: none;
            li{
              border-top: solid 1px #e0e0e0;
              a{
                font-size: 16px;
                line-height: 36px;
                color: #0075a0;
                padding: 16px 32px;
                &:focus{
                  background-color: #f4f5f7;
                }
              }
              /*   &:last-child{
                   border-bottom: solid 1px #e0e0e0;
                 }*/
            }
          }
        }
      }
    }
    #top-menu-mobile{
      margin: 22px 0;
      padding: 0 24px;
      .logo{
        margin-top: 4px;
      }
    }
  }

  .topMenu{
    .signIn{
      display: none;
    }
    .register{
      display: none;
    }
  }
}
.search-mobile{
  .menuItem{
    &.search{
      background: transparent url('../img/icon_search_white/icon_search.png') no-repeat left center;
      background-size: contain;
      width: 20px;
      height: 20px;
      margin: 0;
      padding: 0;
      display: block;
      &.mobile-search-icon{
        display: block;
      }
    }
  }
}
.menu{
  border-top: solid 1px #e0e0e0;
  .mainMenu{
    margin: 16px 0;
    #navigationpro-top{
      display: none;
    }
  }
}
@media (-webkit-min-device-pixel-ratio: 2) {
  .search-mobile .menuItem.search{
    background: url(../img/../img/icon_search-mobile@2x.png) no-repeat center center;
    background-size: contain;
  }
}
@media (-webkit-min-device-pixel-ratio: 3) {
  .search-mobile .menuItem.search{
    background: url(../img/../img/icon_search-mobile@3x.png) no-repeat center center;
    background-size: contain;
  }
}
.new-notif{
  background: #eaedf3d4;
}
.new-user-notif{
  .logo-icon{
    position: relative;
    background-color: #661cca;
    color: white;
    border-radius: 50%;
    font-size: 18px;
    width: 37px;
    height: 37px;
    text-align: center;
    float: right;
    padding: 8px;
    text-decoration: none;
    text-transform: initial;
    margin-right: 20px;
    margin-top: 50%;
    &:after{
      content: "";
      background-image: url("../img/icon-pointinghand/pointinghand.png");
      width: 15px;
      height: 16px;
      display: block;
      position: absolute;
      right: 0;
    }
  }
}

@media (-webkit-min-device-pixel-ratio: 2) {
  .new-user-notif .logo-icon:after{
    background-image: url("../img/icon-pointinghand/pointinghand@2x.png");
    background-size: contain;
  }
}
@media (-webkit-min-device-pixel-ratio: 3) {
  .new-user-notif .logo-icon:after{
    background-image: url("../img/icon-pointinghand/pointinghand@3x.png");
    background-size: contain;
  }
}
.explore_menu{
  display: none;
}

/************** this applies from 992px onwards **********/
@media screen and (min-width: 992px) {
  .header .log-in-group.loged-in .profile a.profile-nav{
    margin: 0 10px 0 30px;
  }
  .header .log-in-group.loged-in .dropdown-notif {
    top: 4px;
  }
  .reading-label{
    margin-left: 24px !important;
  }
  .searchBarSection{
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    background: #fff;
    z-index: 9999;
    .container-search{
      padding: 0 16px;
      .search-container{
        max-width: 100%;
        margin: 0 auto;
      }
      .close-desktop{
        display: none;
      }
      .close{
        background: url(../img/button_close.png) no-repeat scroll;
        cursor: pointer;
        height: 24px;
        width: 24px;
        position: absolute;
        top: 24px;
        right: 24px;
        float: right;
        opacity: 1;
        z-index: 100;
        display: block;
      }
    }
    .searchInput{
      margin-top: 113px;
      border-bottom: solid 1px #e0e0e0;
      .back{
        display: none;
      }
      &.focus-input{
        border-bottom: solid 1px #00749c;
      }
      input{
        width: 89%;
        border: none !important;
        background-color: transparent;
        font-size: 18px;
        height: 60px;
        padding: 0 0 0 11px;
        &::placeholder{
          color: #c3c3c3;
          font-size: 18px;
        }
      }
      .searchIcon {
        background: transparent url('../img/icon_search-mobile.png') no-repeat left center;
        background-size: contain;
        width: 29px;
        height: 29px;
        margin: 0;
        top: 10px;
        bottom: 0;
        right: 5px;
        padding: 0;
        position: absolute;
        border-color: transparent;
        &:before{
          display: none;
        }
        &:focus,
        &:active,
        &:hover{
          outline: 0;
          background-color: transparent;
          border: none;
        }
      }
    }
    .searchFilter{
      margin-top: 40px;
      padding: 0 16px;
      .search-label{
        color: #000000;
        font-size: 17px;
        line-height: 36px;
        margin-bottom: 24px;
        display: block;
      }
      .checlbox__label{
        font-size: 19px !important;
        margin-right: 0;
      }
      input[type=radio]:checked + label:before {
        border: 3px solid #00749c;
      }
      .radio-box {
        margin-bottom: 32px;
        position: relative;
        .checlbox__label {
          &:before {
            border-radius: 50%;
            border: 3px solid #d8d8d8;
            width: 24px;
            height: 24px;
          }
          &:after {
            border-radius: 50%;
            width: 12px;
            height: 12px;
            background-color: #00749c;
          }
        }
      }
      .checkbox__item.label-down {
        margin-bottom: 10px;
      }
    }
  }
  .mainMenuList{
    text-align: right;
    display: flex;
    height: 40px;
  }
  .log_btns{
    padding-bottom: 0;
    float: right;
    margin-left: auto;
    align-items: flex-start;
    display: flex;
  }
  .language-links{
    .dropdown span {
      width: 24px;
      height: 24px;
      margin-right: 5px;
      display: table-cell;
    }
  }
  .search_menu_form{
    max-width: initial;
    float: right;
    display: block;
    margin-right: 16px;
    .hidden-mobile{
      &.search-input{
        height: 40px;
        padding: 0 59px 0 11px;
        background-color: #f2f2f2;
        font-size: 17px;
        width: 320px;
        display: block;
        border: none !important;
        margin-bottom: 0;
        &:hover{
          cursor: inherit;
        }
      }
    }
    .input_search{
      height: 37px;
      padding: 0 0 0 11px;
      background-color: #f2f2f2;
      font-size: 17px;
      display: block;
      &::placeholder{
        font-size: 17px;
        line-height: 2.12;
        color: #404040;
        opacity: 0.48;
      }
    }
  }
  .header{
    &.fixed{
      padding-top: 0;
      padding-bottom: 0;
    }
  }

  .reading-list-link{
    font-size: 18px;
    line-height: 2;
    color: #404040;
    display: inline-block;
    margin-right: 25px;
    // right: 115px;
    // position: absolute;
    margin-top: 4px;
    &:focus{
      cursor: pointer;
      text-decoration: underline;
      color: #404040;
    }
  }
  /***** explore menu ********/
  .explore_menu{
    display: inline-block;
    position: absolute;
    top: 0;
    float: left;
    .explore_item{
      font-size: 17px;
      line-height: 2.12;
      color: #00749c;
      padding: 10.5px 16px 12.5px 24px;
      background-color: RGBA(0,117,160,0.16);
      &:hover{
        color: #00749c;
        cursor: pointer;
      }
      &:after{
        content: "";
        background-image: url("../img/explore_icon/arrow_down.png");
        width: 24px;
        height: 24px;
        display: inline-block;
        vertical-align: middle;
        margin-left: 5px;
      }
    }
    .dropdown-menu{
      border: 0;
      border-radius: 4px;
      height: inherit;
      top: 40px;
      width: 267px;
      .mainMenu{
        margin: 0;
        padding: 12px 0;
      }
      .explore_menu_items{
        .menuItem{
          width: 100%;
          margin-right: 0;
          &:hover{
            text-decoration: none;
          }
          a{
            font-size: 18px;
            color: #404040;
            padding: 12px 17px;
            display: block;
          }
          &:hover{
            background-color: #fafafa;
            a{
              color: #000;
              text-decoration: none;
            }
          }
        }
      }
    }
  }
  .loged-in{
    .search_menu_bar{
      right: 50%;
      transform: translate(-45%, 0);
      z-index: 11;
    }
    .search{
      right: 0;
    }
  }
  /*  .search_menu_bar{
      right: 50%;
      transform: translate(-50%, 0);
    }*/

  .search-mobile{
    display: block;
  }
  .searchBarSection{
    .container-search{
      .search-container{
        max-width: 768px;
        margin: 0 auto;
      }
      .close{
        display: none;
      }
      .close-desktop{
        position: relative;
        display: block;
        .close{
          background: url(../img/button_close.png) no-repeat scroll;
          cursor: pointer;
          height: 24px;
          width: 24px;
          position: relative;
          top: 24px;
          margin-top: 64px;
          right: -9px;
          float: right;
          opacity: 1;
          z-index: 100;
          display: block;
        }
      }
    }
    .searchInput{
      width: 60%;
      margin: 113px auto 0 auto;
      input{
        font-size: 25px;
        &::placeholder{
          font-size: 25px;
        }
      }
    }
    .searchFilter{
      padding: 0;
      width: 60%;
      margin: 32px auto 25px auto;
      padding-top: 24px;
      .radio-box {
        display: inline-block;
        padding-right: 0;
      }
    }
  }
  @media (-webkit-min-device-pixel-ratio: 2){
    .searchBarSection .container-search .close-desktop .close {
      background: url(../img/button_close@2x.png) no-repeat scroll;
      background-size: contain;
    }
  }
  @media (-webkit-min-device-pixel-ratio: 3){
    .searchBarSection .container-search .close-desktop .close {
      background: url(../img/button_close@3x.png) no-repeat scroll;
      background-size: contain;
    }
  }
  .row {
    &.header {
      margin: 16px 0;
      &.header_french{
        .log-in-group{
          width: calc(100% - 285px);
        }
      }
      .log-in-group{
        display: block;
        width: calc(100% - 220px);
        &.loged-in{
          display: block;
        }
      }
    }
  }
  .row.header.header_french .log-in-group.loged-in{
    width: calc(100% - 285px);
  }
  .header{
    .mobileMenu{
      display: none;
      &.open-menu{
        .burguerMenu{
          margin: 0 10px 0 0;
        }
        #top-menu-mobile .logo{
          margin-top: 2px;
        }
      }
    }
    .burguerMenu{
      margin-left: 8px;
      margin-top: 0!important;
      img{
        top: -3px;
      }
    }
    &.header_french{
      .logo-block{
        width: 285px;
      }
    }
    .logo-block{
      margin-left: 0px;
      margin-top: 0;
      width: 220px;
    }
    .topMenu{
      .signIn{
        display: none;
        padding: 0;
        a{
          font-size: 17px;
          color: #0075a0;
          padding: 7px 0;
          text-transform: capitalize;
          text-decoration: none;
          display: block;
          text-align: center;
          &:hover{
            text-decoration: underline;
          }
        }
      }
      .register{
        padding-right: 0;
        display: none;
        a{
          background-color: #0075a0;
          font-size: 17px;
          color: #fff;
          padding: 7px 16px;
          text-decoration: none;
          text-align: center;
          &:hover{
            background-color: #429BB9;
          }
        }
      }
    }
  }
  .search{
    background-color: #00749c;
    width: 40px;
    height: 40px;
    right: 0;
    position: absolute;
    top: 0;
    &:before{
      content: "";
      background-image: url("../img/icon_search_white/icon_search.png");
      transform: translate(-50%, 36%);
    }
    &.mobile-search-icon{
      display: block;
    }
  }
  @media (-webkit-min-device-pixel-ratio: 2) {
    .search{
      &:before{
        background: url(../img/../img/icon_search_white/icon_search@2x.png) no-repeat center center;
        background-size: contain;
      }
    }
  }
  @media (-webkit-min-device-pixel-ratio: 3) {
    .search{
      &:before{
        background: url(../img/../img/icon_search_white/icon_search@3x.png) no-repeat center center;
        background-size: contain;
      }
    }
  }

  .menu{
    .mainMenu{
      .menuItem{
        a{
          color: #404040;
        }
        margin-right: 40px;
        font-size: 18px;
        font-weight: 400;
        display: inline-block;
        &:last-child{
          margin-right: 0;
        }
        &:hover{
          text-decoration: underline;
          background-color: transparent;
          color: #404040;
        }
        &.active {
          background: #fff;
          color: #404040;
          text-decoration: underline;
        }
      }
    }
  }

  .logo {
    width: 178px;
    max-width: 178px;
    height: 24px;
    background: url(../img/logo_inspection_copy.png) no-repeat center center;
    background-size: contain;
    cursor: pointer;
    margin-top: 8px;
    &.french-site{
      background: url(../img/wordmark-french/ic_wordmark_fr.png)no-repeat center center;
      width: 260px;
      max-width: 260px;
      background-size: contain;
    }
    &.us-site{
      background: url(../img/us-logo/logo_educate.png) no-repeat center center;
      width: 100px;
      height: 23px;
    }
  }
  @media (-webkit-min-device-pixel-ratio: 2) {
    .logo{
      background: url(../img/logo_inspection_copy@2x.png) no-repeat center center;
      background-size: contain;
      &.french-site{
        background: url(../img/wordmark-french/ic_wordmark_fr@2x.png)no-repeat center center;
        background-size: contain;
      }
      &.us-site{
        background: url(../img/us-logo/logo_educate@2x.png) no-repeat center center;
        background-size: contain;
      }
    }

  }
  @media (-webkit-min-device-pixel-ratio: 3) {
    .logo{
      background: url(../img/logo_inspection_copy@3x.png) no-repeat center center;
      background-size: contain;
      &.french-site{
        background: url(../img/wordmark-french/ic_wordmark_fr@3x.png)no-repeat center center;
        background-size: contain;
      }
      &.us-site{
        background: url(../img/us-logo/logo_educate@3x.png) no-repeat center center;
        background-size: contain;
      }
    }
  }
  #navigationpro-top{
    &.menu-en{
      .menuItem{
        .top-sub-menu{
          display: none;
        }
        &.open{
          .top-sub-menu{
            border-radius: 6px;
            box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.16);
            background-color: #ffffff;
            display: block;
            min-width: 315px;
            border: none;
            left: -13px;
            top: 26px;
            padding: 20px 0;
            li{
              font-size: 18px;
              line-height: 36px;
              a{
                padding: 10px 24px 10px 24px;
                &:hover{
                  background-color: #fafafa;
                }
              }
            }
          }
        }
      }
    }
  }

  .dropdown-notif{
    .dropdown-menu{
      left: -335px;
      float: none;
      box-shadow: 0 3px 12px 0 rgba(0, 0, 0, 0.16) !important;
      border: 0;
      min-width: 375px;
      border-radius:4px;
      box-shadow:none;
      width:375px;
      position: absolute;
      height: inherit;
      top: 45px;
      min-height: 408px;
      .dropdown-header{
        padding: 11px 16px;
        .title-notif{
          display: inline-block;
          text-align: left;
          font-size: 18px;
          line-height: inherit;
        }
        .see-all{
          display: inline-block;
          float: right;
        }
      }
      .notif-content{
        max-height: 425px;
        .empty-li{
          &:hover{
            background-color: transparent;
          }
        }
        li{
          &:hover,
          &:focus,
          &:active{
            background-color: #f4fafc;
          }
        }
        .empty-notif{
          margin-top: 72px;
          .descp-notif{
            margin-top: 24px;
          }
        }
      }
      &::after {
        content: "";
        filter: drop-shadow(0 0 20px #333);
        border-bottom: 12px solid #fff;
        border-right: 12px solid transparent;
        border-left: 12px solid transparent;
        position: absolute;
        top: -12px;
        right: 14px;
        z-index: 9;
        display: block;
      }
      &::before {
        content: "";
        border-bottom: 10px solid #fff;
        border-right: 10px solid transparent;
        border-left: 10px solid transparent;
        position: absolute;
        top: -10px;
        right: 16px;
        z-index: 10;
        display: block;
      }
    }
  }
  .searchBarSection{
    .searchInput{
      .searchIcon {
        background: transparent url('../img/icon_search.png') no-repeat left center;
        background-size: contain;
        width: 29px;
        height: 29px;
        top: 13px;
      }
    }
  }
  @media (-webkit-min-device-pixel-ratio: 2){
    .searchBarSection .searchInput .searchIcon {
      background: url(../img/icon_search-mobile@2x.png) no-repeat scroll;
      background-size: contain;
    }
  }
  @media (-webkit-min-device-pixel-ratio: 3){
    .searchBarSection .searchInput .searchIcon {
      background: url(../img/icon_search-mobile@3x.png) no-repeat scroll;
      background-size: contain;
    }
  }
}
@media screen and (min-width: 1023px) {
  .mobileMenu.open-menu{
    padding: 0 65px!important;
  }
}
@media all and (device-width: 768px) and (device-height: 1024px) and (orientation:portrait) {
  .explore_menu{
    display: none;
  }
}
@media screen and (max-width: 1450px) {
  .loged-in .search_menu_bar {
    transform: translate(0%,0) !important;
    z-index: 11;
  }
}
@media screen and (max-width: 900px) and (min-width: 640px) {
  .row.header.header_french .log-in-group{
    width: calc(100% - 280px);
  }
  .explore_menu{
    display: none;
  }
  .search_menu_bar {
    right: 0;
    transform: inherit;
    z-index: 11;
  }
  .header.header_french .logo-block{
    width: 280px;
  }
  .row.header.header_french .log-in-group{
    width: calc(100% - 280px);
  }
  .reading-list-link{
    display: none;
  }
  .header .logo-block{
    width: 350px;
  }
  .row.header .log-in-group{
    width: calc(100% - 350px);
  }
}
/* from 1023 */
@media screen and (min-width: 900px) {
  .menu{
    .mainMenu{
      #navigationpro-top{
        display: block;
      }
    }
  }
  .row.header {
    margin: 0 auto 0;
    padding-top: 12px;
    padding-bottom: 12px !important;
    border-bottom: solid 1px #e0e0e0;
    .log-in-group {
      display: block;
      &.loged-in{
        display: block;
      }
    }
    .topMenu{
      .signIn{
        display: inline-block;
        margin-right: 16px;
      }
      .register{
        display: inline-block;
      }
    }
  }
  .search-mobile{
    display: block;
  }
  .search{
    &.mobile-search-icon{
      display: block;
    }
  }
}

@media screen and (max-width: 1300px) and (min-width: 640px) {
  .header{
    .mobileMenu{
      #navigationpro-mobile-top{
        .login-burger{
          .register{
            margin-bottom: 0;
          }
        }
      }
    }
  }
}
@media screen and (min-width: 1100px)  and (max-width: 1300px) {
  .menu {
    .mainMenu {
      .menuItem{
        margin-right: 36px;
        font-size: 18px;
      }
    }
  }
}
@media screen and (min-width: 1355px)  and (max-width: 1430px) {
  .header.header_french .logo-block {
    width: 285px;
  }
  .row.header.header_french .log-in-group {
    width: calc(100% - 285px);
  }
  .header .logo-block {
    width: 250px;
  }
  .row.header .log-in-group {
    width: calc(100% - 250px);
  }
}
@media screen and (max-width: 1250px){

  .topMenu {
    .language-links{
      display: none;
    }
  }
  .search.mobile-search-icon{
    display: none;
  }
  .result_search_book {
    z-index: 99999;
    //right: -33px;
    top: 44px;
    //left: 0;
    //position: absolute;
    //right: -15%;
    //width: 100% !important;
  }

  .explore_menu{
    display: none;
  }
  .header{
    .burguerMenu{
      display: inline-block;
      position: relative;
      cursor: pointer;
      width: 26px;
      height: 21px;
      margin-right: 10px;
      img{
        width: 26px;
        height: 21px;
        position: absolute;
        &.menu-on{
          display: none;
          width: 21px;
        }
      }
    }
  }

  .row{
    &.header{
      .topMenu{
        .signIn{
          display: none;
        }
        .register{
          display: none;
        }
      }
    }
  }
  .header .logo-block{
    width: 240px;
  }
  .row.header .log-in-group{
    width: calc(100% - 240px);
  }
  .row.header .log-in-group.loged-in {
    width: calc(100% - 240px);
  }

  .header.header_french .logo-block{
    width: 360px;
  }
  .row.header.header_french .log-in-group{
    width: calc(100% - 360px);
  }
  .row.header.header_french .log-in-group.loged-in {
    width: calc(100% - 360px);
  }
  .reading-list-link{
    display: none;
  }
  /* searchbar*/
  .search{
    display: inline-block;
    right: 24px;
    position: absolute;
    top: 2px;
    &:hover{
      cursor: pointer;
    }
    &:before{
      content: "";
      background: transparent url('../img/icon_search_white/icon_search_mobile@3x.png') no-repeat left center;
      background-size: contain;
      width: 21px;
      height: 21px;
      position: absolute;
      margin-left: auto;
      margin-right: auto;
      left: 50%;
      top: 2px;
      transform: translate(-20%, 4%);
      display: block;
    }
  }
  .search-mobile{
    display: block;
    #search-input-mobile{
      width: 89%;
      border: none !important;
      font-size: 18px;
      font-weight: 400;
      &::placeholder{
        color: #c3c3c3;
        font-size: 18px;
      }
    }
  }
}

@media screen and (min-width: 901px)  and (max-width: 1450px) {
  .menu {
    .mainMenu {
      .menuItem{
        margin-right: 24px;
        font-size: 16px;
      }
    }
  }

}
@media screen and (min-width: 1250px)  and (max-width: 1370px) {
  .header.header_french .logo-block{
    width: 270px;
  }
  .row.header.header_french .log-in-group{
    width: calc(100% - 270px);
  }
  .header .logo-block{
    width: 190px;
  }
  .row.header .log-in-group{
    width: calc(100% - 190px);
  }
  .row.header.header_french .log-in-group.loged-in{
    width: calc(100% - 270px);
  }
  .explore_menu{
    position: absolute !important;
  }
}
@media screen and (max-width: 900px) and (min-width: 750px) {
  .search_menu_bar{
    transform: inherit;
    z-index: 11;
  }
}
@media screen and (min-width: 900px)  and (max-width: 1100px) {
  .menu {
    .mainMenu {
      .menuItem{
        margin-right: 15px;
        font-size: 15px;
      }
    }
  }

  #navigationpro-top{
    &.menu-en{
      .menuItem{
        &.open{
          .top-sub-menu{
            li{
              font-size: 16px;
              line-height: 34px;
            }
          }
        }
      }
    }
  }
}
@media screen and (max-width: 370px)  {
  .header {
    .log-in-group.loged-in {
      .profile {
        a.profile-nav{
          margin: 0;
        }
      }
    }
  }
}
@media screen and (max-width: 360px) and (min-width: 320px) {
  .logo {
    &.french-site {
      background: url(../img/wordmark-french/ic_wordmark_fr_iph5.png) no-repeat center center;
      width: 146px;
      max-width: 146px;
      height: 13px;
    }
  }
  @media (-webkit-min-device-pixel-ratio: 2) {
    .logo {
      &.french-site {
        background: url(../img/wordmark-french/ic_wordmark_fr_iph5@2x.png) no-repeat center center;
        background-size: contain;
      }
    }
  }
  @media (-webkit-min-device-pixel-ratio: 3) {
    .logo {
      &.french-site {
        background: url(../img/wordmark-french/ic_wordmark_fr_iph5@3x.png) no-repeat center center;
        background-size: contain;
      }
    }
  }
  .header .burguerMenu{
    margin-right: 0;
  }
  .page-title{
    font-size: 22px;
  }
}
@media screen and (max-width: 640px) {
  .search:before{
    transform: translate( 0%, 4%);
  }
  .header.header_french .logo-block {
    width: 195px;
  }
  .row.header.header_french .log-in-group.loged-in {
    width: calc(100% - 195px);
  }
  .result_search_book {
    z-index: 99999;
    width: 402px;
    position: absolute;
    top: 44px;
    right: -20px;
  }
}

@media screen and (min-width: 768px) {
  .search_menu_form{
    max-width: initial;
    float: right;
    display: block !important;
    margin-right: 16px;
    .hidden-mobile{
      &.search-input{
        height: 40px;
        padding: 0 59px 0 11px;
        background-color: #f2f2f2;
        font-size: 17px;
        width: 320px;
        display: block !important;
        border: none !important;
        margin-bottom: 0;
        &:hover{
          cursor: inherit;
        }
      }
    }
    .hidden-desktop {
      display: none !important;
    }
    .input_search{
      height: 37px;
      padding: 0 0 0 11px;
      background-color: #f2f2f2;
      font-size: 17px;
      display: block;
      &::placeholder{
        font-size: 17px;
        line-height: 2.12;
        color: #404040;
        opacity: 0.48;
      }
    }
  }
  .search{
    background-color: #00749c;
    width: 40px;
    height: 40px;
    right: 0;
    position: absolute;
    top: 0;
    &:before{
      content: "";
      background-image: url("../img/icon_search_white/icon_search.png");
      transform: translate(-50%, 36%);
    }
    &.mobile-search-icon{
      display: block;
      right: 0;
    }
  }
  .result_search_book {
    width: 100%!important;
  }
}
@media screen and (max-width: 767px) {
  .search.mobile-search-icon{
    display: block;
    background-color: transparent;
    width: 28px;
    height: 28px;
  }
  .search_menu_form{
    .hidden-mobile{
      &.search-input{
        display: none !important;
      }
    }
    .hidden-mobile{
      display: none
    }
    .input_search{
      display: none !important;
    }
  }
  .search:before{
    transform: translate( 0%, 4%);
    width: 28px;
    height: 28px;
    margin-left: 5px;
  }
}
@media screen and (min-width: 768px) and (max-width: 992px) {
  .log_btns{
    padding-bottom: 0;
    float: right;
    margin-left: auto;
    align-items: baseline;
    display: flex;
  }
}
@media screen and (orientation: landscape ) {
  #navigationpro-mobile-top {
    #navigationpro-top {
      max-height: 250px !important;
      overflow: auto !important;
    }
  }
}