<!-- action book modal -->
<div class="request-book-modal lightbox modal reading_list_modal" id="add-book-modal" tabindex="-1" role="dialog">
    <!-- add book modal -->
    <div class="modal-dialog" role="document">
        <div class="close"></div>
        <div class="modal-dialog" role="document" id="action-book-modal-content">

        </div>
    </div>
</div>
