<!-- Confirm box -->
<div class="box">
    <div class="passwordBox">
        <div class="box-content">
            <p class="box-msg password-msg hidden">{{ 'user.profile.password_box.text'|trans }}
                <a href="#" class="hide-show">{{ 'user.profile.password_box.link'|trans }}</a></p>
        </div>
    </div>
    <div class="passwordBox-background"></div>
</div>