<div class='feedback-help'>
    <h3>{{ 'user.profile.books.feedback_contextual_help.title'|trans }}</h3>
    <ul>
        <li>{{ 'user.profile.books.feedback_contextual_help.help1'|trans }}</li>
        <li>{{ 'user.profile.books.feedback_contextual_help.help2'|trans }}</li>
        <li>{{ 'user.profile.books.feedback_contextual_help.help3'|trans }}</li>
    </ul>
</div>