{#not qualified banner #}
<div class="not_qualified_banner maincontainer">
    <div class="msg_qualified nexusSans">
        {{ 'qualified.qualified-title'|trans }}
        <p>
            {{ 'qualified.qualified-msg'|trans }}
        </p>
        <div class="qualified_account_btn">
            <a href="{{ url('identify-verification') }}">{{ 'qualified.account-details-btn'|trans }}</a>
        </div>
    </div>
</div>


